<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestTask</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
   
</head>
<body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">List of audit log entries</a>
    </nav>

    <div class="col-xs-8" >
        @RenderBody()
    </div>
    <footer>
        <p>© 2020 - KucherukNatasha</p>
    </footer>
</body>
</html>
