@model JsonBox
@{
   ViewData["Title"] = "Index";
}
<form asp-action="AuditLogsEntry" method="post">
    <div class="row pr-lg-3">
        <div class="col-md-6 mb-2">
            <h4>Original</h4>
            <textarea asp-for="Original" class="w-100"></textarea>
        </div>
        <div class="col-md-6 mb-2">
            <h4>Update</h4>
            <textarea asp-for="Update" class="w-100"></textarea>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Compare</button>
    </div>
</form>
<h3>@ViewBag.Message</h3>


